<%= form_for(@qualification) do |f| %>
  <% if @qualification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qualification.errors.count, "error") %> prohibited this qualification from being saved:</h2>

      <ul>
      <% @qualification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.select :parent_id, nested_set_options(Qualification, @qualification) {|i, level| "#{'-' * level} #{i.name}" },  {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :refine_text %><br />
    <%= f.text_field :refine_text %>
  </div>
<!--   <div class="field"> -->
<!--     <%= f.label :lft %><br /> -->
<!--     <%= f.text_field :lft %> -->
<!--   </div> -->
<!--   <div class="field"> -->
<!--     <%= f.label :rgt %><br /> -->
<!--     <%= f.text_field :rgt %> -->
<!--   </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
